body
{
	min-width: 470px;
	min-height: 300px;
	
	font-family: sans-serif;
}

a{
	outline: none;
}

div#search_block
{
	width: 94%;
	position: absolute;
}

input#search_box
{
	width: 70%;
	display: block;
	float: left;
}

input#search_button
{
	width: 28%;
	display: block;
	float: right;
}



.fd
{
	position: absolute;
	z-index:1000;
	top:100px;
	left:0px;
	border:1px solid WindowFrame;
	background-color:Window;
	padding-bottom:1px;
	overflow: hidden;
}

.gffg
{
	float: left;
	clear: both;
	font-size: 13px;
	font-family: arial;
	width: 100%;
	cursor: default;
	padding-top: 1px;
	padding-left: 2px;
	color: WindowText;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-user-select : none;
}

.gffg.selected
{
	background-color: Highlight;
	color: HighlightText;
}

div#download_block
{
	clear: both;
	min-height: 200px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}


div#single_download_block input[type="button"]
{
	margin-top: 16px;
	display: block;
	padding: 6px 8px;
	width: 300px;
}

div#root_download_block h2, div#empty_download_block h2, div#multiple_download_block h2, div#search_download_block h2
{
	font-family: arial, sans-serif;
	text-align: center;
	color: gray;
	font-size: 16px;
}

div#download_item_container
{
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 475px;
}

div.download_item
{
	display: table; 
	
	clear: both;	
	/*padding: 1px 2px;*/
	padding: 3px;
	overflow: hidden;
	cursor: default;
	
	width: 450px;
}

div.download_item .leftContent{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

div.download_item .leftContent > div{
	display: table-cell;
	vertical-align: middle;
}

div.download_item:hover
{
	border-radius: 5px;
	background-color: #316ac5;
	color: #fff;
}

div.download_item .rightContent{
	float: right;
	white-space: nowrap;
}

div.download_item .download_button
{
	display: inline-block;
	
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px;
	
	height: 25px;
	
	color: #fff;
	text-decoration: none;	
	font-size: 10px;
	font-weight: bold;
	
	background: -webkit-linear-gradient(90deg, #4da5d8, #58d2fd);
	
	position: relative;
	
	margin-left: 5px;
}

div.download_item .download_button .loading{
	display: none;
	width: 100%;
	background: url(/images/loading_16x16.gif) no-repeat;
	background-position: center center;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}

div.download_item .download_button[loading="1"] .loading{
	display: block;
}

div.download_item .download_button[loading="1"] .text{
	visibility: hidden;
}

div.download_item .download_button[loading="1"]  .size{
	display: none;	
}

div.download_item .download_button:hover{
	-webkit-box-shadow: 0px 0px 10px 0px #000;
}

div.download_item div.download_quality
{
	width: 40px;
	white-space: nowrap;
	overflow: hidden;
	padding: 0px 4px 0px 0px;
	font-family: arial, sans-serif;
	font-size: 9px;
	text-align: center;
}

div.download_item .size{
	font-size: 9px;
	
	min-width: 30px;
	min-height: 3px;
	
	text-align: center;
}

div.download_item .size[loading="1"]{
	background: url( /images/small_loading.gif ) no-repeat;
	background-position: center center;
	
}

div.download_item[quality="Low"] div#media_quality
{
	color: #C80000;
}

div.download_item[quality="HD"] div#media_quality, div.download_item[quality="Full HD"] div#media_quality
{
	color: #008000;
}

div.download_item[quality="High"] div#media_quality, div.download_item[quality="SD"] div#media_quality
{
	color: #C88030;
}


div.download_item div.download_quality[empty="true"]
{
	display: none !important;
}

div.download_item div.download_url
{
	padding-top: 2px;
	max-width: 320px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Tahoma;
	font-size: 12px;
}

div.download_item:hover div.download_url{
	text-shadow: 1px 1px 0px #000;
}

div.download_item .buttonsSmall{
	padding-top: 4px;
	min-width: 40px;
	
	display: table-cell;
	vertical-align: middle;	
}

div.download_item  .buttonsSmall > a{
	cursor: pointer;
	
	min-width: 16px;
	min-height: 16px;
	max-height: 16px;
	
	display: inline-block;	
}

div.download_item .copyLink{
	background: url( /images/copy_icon.png );
	background-repeat: no-repeat;
	background-position: center;
}

div.download_item .removeLink{
	background: url( /images/remove.png );
	background-repeat: no-repeat;
	background-position: center;
}

div#download_item_template
{
	display: none;
}

div#help_padding_block
{
	height: 30px;
	width: 100%;
}

div#help_block
{
	position: fixed;
	bottom: 0px;
	padding: 4px;
	font-family: arial, sans-serif;
	font-size: 12px;
}

div#help_block > a
{
	display: block;
	float: left;
	margin-right: 12px;
	padding: 8px 0px 0px 26px;
	background-repeat: no-repeat;
}


a#help_link_help
{
	background-image: url('/images/fvd.single.bottom_help.png');
}

a#help_link_converter
{
	background-image: url('/images/fvd.single.bottom_converter.png');
}

a#help_link_feedback
{
	background-image: url('/images/fvd.single.bottom_feedback.png');
}

a#help_link_donate{
	background-image: url('/images/donate.png');
}

a#help_link_speeddial{
	background-image: url('/images/fvdsd_22x22.png');
}

a#help_link_write_review{
	background-image: url('/images/write_review.png');
}

a#help_link_convert_video{
	background-image: url('/images/convert_video.png');
}


#help_block a{
	text-decoration: none;
	color: #4da5d8;
	-webkit-transition: 200ms;
}

#help_block a:hover{
	text-shadow: 1px 1px 0px #eee;
	color: #008bdb;
}


/* donate block */

#donate_block{
	width: 500px;
	font-family: sans-serif;
	font-size: 11px;
}

#donateButtonContainer{
	position: relative;
	text-align: center;
	margin-top: 50px;
}

#donateButtonContainer a#returnToThreads{
	left: 360px;
	top: 30px;
	position: absolute;
}

/* slow download hint */

#slowDownloadHint{
	padding: 10px;
	border: 2px solid transparent;
	
	position: relative;
	
	font-size: 11px;
}

#slowDownloadHint:hover{
	border-color: #555;
	border-radius: 5px;
}

#slowDownloadHint .text{
	padding-right: 30px;
}

#slowDownloadHint .close{	
	position: absolute;
	top: 14px;
	right: 10px;
	
	display:none;
	color: #fff;
	border: 2px solid #555;
	background-color: #555;
	border-radius: 5px;
	
	width: 16px;
	height: 16px;
	
	text-align: center;
	
	cursor: pointer;
	
	font-weight: bold;
}

#slowDownloadHint .close:hover{
	border-color: #000;
	box-shadow: 0px 0px 4px 0px #000;
}

#slowDownloadHint:hover .close{
	display: block;
}

/* Update chrome notice */

#updateChromeNotice{
	text-align: center;
	padding: 20px;
	
	color: red;
}

/* help icon */

.iconHelp{
	background: url( /images/help.png );
	width: 16px;
	height: 16px;
	
	cursor: pointer;
	display: inline-block;
}

/* iconButton */

.title{
	position: relative;
}

.title .iconButton{
	width: 30px;
	height: 32px;
	display: inline-block;
	background-repeat: no-repeat;
	float: right;
	position: absolute;
	top: 0px;
}

#help_link_help{
	right: 2px;
}

#help_link_help{
	right: 2px;
}

#help_link_feedback{
	right: 35px;
}

